.works-popup {
  width: 100%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50px);
  background-color: #fff;
  z-index: 10;
  padding: 15px;
  margin-top: 40px;
}

.portfolioModal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 12%;
  width: 100%;
  height: auto;
  display: none;
  background: #c1c7d0;
}

.portfolioModal h2 {
  display: inline;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 44px;
  color: #172b4d;
  letter-spacing: 0.8px;
  margin-top: 20px;
}

.close-popup {
  border: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  opacity: 0.3;
  background: none;
}

.portfolioModal ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 16px 0;
}

.portfolioModal li {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  border: 1px solid #979493;
  padding: 10px 12px;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #3c3a39;
  margin-right: 16px;
  list-style: none;
}

.portfolioModal img {
  width: 100%;
  height: auto;
}

.portfolioModal p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #344563;
  opacity: 0.8;
  text-align: left;
  /* justify-content: center; */
  width: 100%;
}

.d-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}

.d-links a {
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #edecff;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 15px;
  line-height: 24px;
  width: 160px;
  padding: 12px;
  height: auto;
  letter-spacing: 1.3px;
}

.d-links a span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.d-links img {
  width: 18px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .works-popup {
    width: 90%;
    height: auto;
    top: -30px;
    left: 50%;
    background-color: #fff;
    z-index: 10;
    padding: 12px;
  }

  .portfolioModal img {
    width: 740px;
    height: 428px;
  }

  .d-links {
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
  }

  .d-links a {
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 20px;
    line-height: 24px;
    width: 200px;
    padding: 10px;
    height: auto;
    letter-spacing: 1.8px;
    margin-right: 25px;
  }

  .d-links img {
    width: 18px;
    height: 20px;
  }
  .portfolioModal p {
    width: 100%;
    font-size: 20px;
  }

  .work-popup-image {
    display: flex;
    justify-content: space-between;
  }

  .textWrap {
    width: 30vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
