/* Media Queries for Desktop Screen - All scrren sizes within the range of 768px onwards. */

@media screen and (min-width: 768px) {
  header {
    padding: 24px 154px;
    justify-content: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  .desktop-nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .desktop-nav ul {
    display: flex;
    justify-content: space-around;
  }

  .nav-links {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin: 25px;
    color: #fff;
  }

  /* Diabled Elements  in Desktop version*/

  .menu-bar {
    display: none;
  }
}
