* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  font-family: 'Roboto', serif;
  height: auto;
  width: 100%;
}

header {
  background: #3c3a39;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
}

nav {
  padding: 0 24px;
  margin-top: 20px;
  transition: all 1s ease-in-out;
}

nav .mobile-nav {
  display: flex;
  justify-content: space-between;
}

.name_logo {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  width: 97px;
  height: 24px;
}

.name_logo:hover {
  /* transform: rotatez(20deg); */
}

.menu-bar {
  width: 28px;
  height: 18px;
}

.container {
  display: flex;
  background: #1c1a19;
  padding: 120px 0;
  width: 100%;
  background-image: none;
}

.landing-wrap {
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 23px;
  position: relative;
}

.container h1 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  width: inherit;
}

.container h2 {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin: 12px 0;
}

.container p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 26px;
  color: #fff;
  width: inherit;
}

.social {
  width: 190px;
  height: 16px;
  display: flex;
  justify-items: center;
  flex: 1;
  margin: 20px 0;
  justify-content: space-between;
}

.side-image {
  position: absolute;
  align-self: flex-end;
  top: 400px;
  right: -1px;
}

.work-section {
  display: grid;
  background: #fff;
  width: 100%;
  padding: 120px 0;
}

.work-wrap {
  margin: 0 24px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.work-wrap h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  margin-top: 50px;
  height: 83px;
  padding-top: 10px;
}

.title-line {
  margin-top: 24px;
  margin-bottom: 80px;
  border: 1px solid #777171;
  width: auto;
}

.work-hint {
  display: flex;
  flex-direction: column;
  width: auto;
}

.work-hint-img {
  background-image: url('../Icons/work_img.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 237px;
}

.work-hint h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  padding: 20px 0;
}

.work-hint p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #091e42;
  width: 100%;
}

.work-hint ul {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
}

.work-hint li {
  padding: 12px 10px;
  border: #8993a4 solid 1px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
}

#hint-button {
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #edecff;
  text-align: center;
  text-decoration: none;
  border: none;
  font-size: 17px;
  line-height: 24px;
  width: 140px;
  height: 48px;
  letter-spacing: 1.3px;
}

#hint-button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  box-sizing: border-box;
}

#hint-button:active {
  background: #e05304;
  color: inherit;
}

#hint-button:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.work-card {
  height: auto;
  width: 100%;
  background-image: url('../Icons/work_placeholder.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  margin: 24px 0;
}

.work-card h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-left: 18px;
  margin-right: 18px;
  padding-top: 85px;
  margin-bottom: 12px;
}

.work-card p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  color: #fff;
  line-height: 25px;
  margin-left: 18px;
  margin-right: 18px;
  padding-top: 80px;
}

.work-card ul {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-left: 18px;
  margin-bottom: 10px;
  justify-content: space-between;
}

.work-card li {
  font-family: 'Inter', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  line-height: 20px;
  padding: 10px 12px;
  margin: 10px 0;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
}

.button {
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #edecff;
  text-align: center;
  border: none;
  font-size: 17px;
  line-height: 24px;
  width: 100%;
  height: 48px;
}

.button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  box-sizing: border-box;
}

.button:active {
  background: #e05304;
  color: inherit;
}

.button:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.about-me {
  background: #1c1a19;
  padding: 100px 0;
  width: 100%;
  background-image: none;
}

.about-text {
  display: flex;
  flex-direction: column;
  margin: 24px;
  position: relative;
}

.about-text h2 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  color: #ff6b00;
  line-height: 88px;
  letter-spacing: 0.37px;
}

.about-text p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about-text button {
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #edecff;
  text-align: center;
  border: none;
  font-size: 15px;
  line-height: 15px;
  width: 161px;
  height: 48px;
  padding: 10px;
  letter-spacing: 0.03em;
  margin: 24px 0;
}

.about-button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  box-sizing: border-box;
}

.about-button:active {
  background: #e05304;
  color: inherit;
}

.about-button:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.side-image2 {
  position: absolute;
  top: 240px;
  right: -24px;
}

.text-line {
  border: #b3afad solid 1px;
  height: 0;
  width: 100%;
  margin: 190px 0 80px 0;
}

.tech-competencies {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  margin: 50px 8px;
}

.tech-competencies h3 {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}

.tech-competencies li {
  font-size: 24px;
  margin: 40px 0;
}

.tech-competencies img {
  width: 26px;
  height: 26px;
  margin: 0 10px;
}

/* Contact styling */

.contact-container {
  font-family: 'Inter', sans-serif;
  width: 100%;
  height: auto;
  background: #fff;
  margin-top: 120px;
  padding: 24px;
}

.contact-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 44px;
  color: #172b4d;
  text-align: center;
  padding: 0 8px;
}

.mobile-screen-form {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #979493;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 14px 16px;
  margin-top: 24px;
}

textarea {
  width: 100%;
  height: 102px;
  background: #fbf8f7;
  border: none;
  color: #3c3a39;
  margin-top: 24px;
  padding: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.contact-button {
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #fff;
  text-align: center;
  border: none;
  font-size: 17px;
  line-height: 24px;
  height: 48px;
  padding: 12px;
  letter-spacing: 0.03em;
  margin: 24px 0;
  width: 131px;
  align-self: center;
}

.contact-button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  box-sizing: border-box;
}

.contact-button:active {
  background: #e05304;
  color: inherit;
}

.contact-button:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-top: #dfe1e6 solid 1px;
  margin-top: 104px;
}

.footer-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 24px;
  margin: 0 100px;
}

.footer-line {
  width: 134px;
  height: 5px;
  background: #0d151e;
  border-radius: 10px;
  margin-bottom: 10px;
  align-self: center;
}

/*  Disabled elements in the mobile version */

.desktop-nav {
  display: none;
}

.large-side-image {
  display: none;
}

.desktop-work-card {
  display: none;
}

.desktop-side-image2 {
  display: none;
}

/* .container-background {
  display: none;
} */
