* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

body {
  font-family: 'Roboto', serif;
  height: auto;
}

header {
  background: #3c3a39;
  display: flex;
  flex-direction: column;
  height: 92px;
  max-width: 375px;
}

nav .mobile-nav {
  display: flex;
  justify-content: space-between;
  margin: 56px 24px;
}

.name_logo {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  width: 97px;
  height: 24px;
}

.menu-bar {
  width: 20px;
  height: 12px;
}

.container {
  max-width: 375px;
  padding: 120px 24px;
  background: #1c1a19;
}

.container h1 {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.container h2 {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin: 12px 0;
}

.container p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 12px 0;
  position: relative;
}

.social {
  width: 190px;
  height: 16px;
  display: flex;
  justify-items: center;
  flex: 1;
  margin: 20px 0;
  justify-content: space-between;
}

.side_img {
  position: absolute;
  left: 243px;
  top: 415px;
}
